In [1]:
import pandas as pd

In [12]:
internet = pd.read_csv('dsc106-data.csv', encoding = 'ISO-8859-1')
internet

      ÿþC
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1163  NaN
1164  NaN
1165  NaN
1166  NaN
1167  NaN

[1168 rows x 1 columns]